$font-stack:    Helvetica, sans-serif;
$body-color: #ebf8e6;
$border-color: #42902d;
$primary-color: #42902d;

%pad-l-0 {
	padding-left: 0px !important; 
}

%pad-r-0 {
	padding-right: 0px !important; 
}

%mgr-l-0 {
	margin-left: 0px !important; 
}

%mgr-r-0 {
	margin-right: 0px !important; 
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin box-shadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	-o-box-shadow: $value;
	-ms-box-shadow: $value;
}

@mixin transition($value) {
	transition: $value;
	-moz-transition: $value;
	-webkit-transition: $value;
	-o-transition: $value;
	-ms-transition: $value;
}

@mixin transform($value) {
    transform: $value;
    -moz-transform: $value;
    -webkit-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
}

@mixin transform-origin($value) {
    transform-origin: $value;
    -moz-transform-origin: $value;
    -webkit-transform-origin: $value;
    -o-transform-origin: $value;
    -ms-transform-origin: $value;
}

@mixin justify-content($value) {
    justify-content: $value;
    -moz-justify-content: $value;
    -webkit-justify-content: $value;
    -o-justify-content: $value;
    -ms-justify-content: $value;
}

@mixin align-items($value) {
    align-items: $value;
    -moz-align-items: $value;
    -webkit-align-items: $value;
    -o-align-items: $value;
    -ms-align-items: $value;
}

@mixin text-input-search() {
	@include border-radius(3px);
	border: 3px solid $border-color;
    height: 45px;
    width: 354px;
    padding: 0 15px;
    color: #000;
}

@mixin border-radius($pixel) {
	border-radius: $pixel;
	-moz-border-radius: $pixel;
	-webkit-border-radius: $pixel;
	-o-border-radius: $pixel;
	-ms-border-radius: $pixel;
}

@mixin form-submit-btn() {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: $border-color;
    border: 0;
    color: #fff;
    height: 45px;
    border-radius: 3px;
    padding: 0 13px;
    text-transform: uppercase;
}

@mixin form-submit-btn-search() {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: $border-color;
    border: 0;
    color: #fff;
    height: 40px;
    padding: 0 13px;
    text-transform: uppercase;
}

%a {
    text-decoration: none;
}

@font-face {
    font-family: myriadPro;
    src: url(../fonts/myriad-pro-regular.otf);
}

@font-face {
    font-family: segoe;
    src: url(../fonts/segoe/segoeui.ttf);
}

@font-face {
    font-family: segoeBold;
    src: url(../fonts/segoe/segoeuib.ttf);
}

a {
    @extend %a;
    &:hover {
        @extend %a;
    }
}

@import 'imports/*.scss';
@import 'bower_components/slick-carousel/slick/slick.css';