$color_green: #42902d;
$color_red: #ed1c24;
$color_white: #fff;
$color_green_plus: #39b54a;
$color_yellow: #f7941d;
$color_yellow_: #fbfab8;
$color_black: #000000;
$color_gray: #f2f2f2;
$border_table: #b7b7b7;
body {
    position: relative;
}

.line-top {
    border-top: 15px solid #42902d;
}

.pad-l-0 {
    @extend %pad-l-0;
}

.pad-r-0 {
    @extend %pad-r-0;
}

.mgr-l-0 {
    @extend %mgr-l-0;
}

.mgr-r-0 {
    @extend %mgr-r-0;
}

.bg_wraper {
    // background-image: url(../../assets/images/bg.png);
    // background-color: #8cd370;
    // background-repeat: repeat-x;
    background-color: #e9fae7;
    padding-bottom: 30px;
}

.bg_detai {
    background-color: #fff;
    overflow: auto;
}

.bg_img {
    background-size: cover;
    background-position: center;
}

.item_img {
    width: 100%;
    height: auto;
}

.btn-back {
    margin-right: 10px;
}

.btn-green {
    background-color: #1d984c;
    color: #fff;
    text-transform: uppercase;
    @include border-radius( 0 );
    font-size: 0.9286rem;
    padding: 13px 20px;
    border: none;
    clear: both;
    float: none !important;
    &:hover {
        color: #fff;
        -webkit-box-shadow: -1px 1px 5px 2px #ccc;
        -moz-box-shadow: -1px 1px 5px 2px #ccc;
        box-shadow: -1px 1px 5px 2px #ccc;
    }
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: #E9FBE7;
    @include border-radius( 0 );
    .breadcrumb-row {
        font-size: 16px;
        clear: left;
        overflow: auto;
        float: left;
        width: 100%;
        .breadcrumb-col {
            color: #f7941d;
            margin: 20px 0 15px;
            a {
                color: #f7941d;
            }
        }
    }
}

.no_product_sidebar {
    padding: 0 5px 0 15px;
}

.img_load_state_icon {
    width: 20px;
    height: 20px;
    display: none;
}

.page {
    .container {
        .page {
            padding: 10px 30px 30px 30px;
            background-color: $color_white;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    }
}

.stick{
    position: fixed !important;
    z-index: 999;
}

#back-to-top {
    background: $color_green;
    bottom: 5px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 99;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;

    .fa {
        color: #ffffff;
    }
}

.count_buy_wrap {
    padding-right: 0;
    background: yellow;
    color: #42902d;
    /* font-weight: 500; */
    text-align: center;
    padding-left: 0;
}