.footer-section {
	background-color: #333;
	color: #fff;
	border-top: 5px solid $color_green_plus;
	z-index:2;
	position:relative;
	font-family: Arial, Helvetica, Sans-serif !important;

	.msc-form {
		margin-top: 0px;
	}

	.mc4wp-form-fields {
		p {
			margin: 0;
		}
	}
    
    #nav_menu-2, #nav_menu-3 {
    		ul {
    			li {
    				border-bottom: 1px solid #8D814C;
    				margin:0 0 9px 0;
    				padding: 0 0 9px 0;
    				text-align:left;
    			}
    		}
    }
    .menu-menu-footer-4-container {
    	padding: 20px;
    	ul {
    		li {
    			padding: 4px 10px 4px 5px;
    			a {
    				color: #8D814C !important;
    			}
    		}
    	}
    }

	.footer-widgets {
		padding-top: 15px;
		font-family: segoe;
	    padding-bottom: 20px;
	    text-align: left;
	    .container {
	    	.col-md-4  {
	    		padding: 7.5px;
	    		&:first-child {
	    			padding-right: 15px;
	    			padding-left: 15px;
	    		}
	    		.logo {
	    			padding-right: 7.5px;
	    			padding-left: 7.5px;
	    		}
	    	}
	    }
        .search-form {
        	form {
        		width:100%;
        		input[type=text] {
        			width:100%;
        		}
        	}
        }
		.widget {
			margin-top: 10px;
			font-size: 1.0833rem;
		}

		.widget-title {
			text-transform: uppercase;
			margin-top: 0;
		    font-size: 16px;
    		font-family: segoe;
    		color: $primary-color;
		    font-weight: bold;
		    border-bottom: 2px solid #E1DBBD;
		    margin: 0 0 10px 0;
		    padding: 10px 0 6px 0;
		}

		.product_list_widget {
			a {
				.woocommerce-placeholder {
					display: none;
				}
			}
		}

		.menu {
			list-style: none;
			padding: 0;

			.menu-item {
				a {
					color: green;
					font-size: 13px;
					text-decoration: none;
					&:hover {
						color: red;
					}
				}
			}
		}
		.logo {
			img {
				width: 176px;
			}
			section {
				p {
					font-size: 14px;
					line-height: 18px;
					color: #8D814C;
				}
				.address-container {
					.icon-container {
					    img {
					    	width: 1em;
					    	height: 1em;
					    }
					}
				}
			}
		}
		.title-footer-search {
			@extend .widget-title;
		}
		.widget-title {
			color: #885A34;
		}
	}

	.copyright {
	    font-size: 1.25rem;

	}

	.footer-socials-list {
	    list-style: none;
	    padding: 0;

	    li {
	    	float: left;
	    	padding-right: 5px;

	    	a {
	    		text-indent: -9999px;
		    	background-image: url('../../assets/img/footer_socials_sprite.png');
		    	width: 34px;
		    	height: 34px;
		    	display: block;
	    	}
	    }

	    .youtube {
	    	background-position: 114px 0;
	    }

	    .twitter {
	    	background-position: 73px 0px;
	    }

	    .google_plus {
	    	background-position: 34px 0;
	    }
	}
}

@media screen and (max-width: 767px) {
	.footer-widgets {
		text-align: center;
	}

	.widget_subscribe {
	    text-align: center;

	    .subscribe-before {
	    	padding: 0 0 10px 0;

	    }
	}

    .footer-socials-list {
    	display: table;
    	margin: 0 auto;

    }
}
