.header {
    display: table;
    width: 100%;
    padding-top: 26px;
    position: relative;
    .logo {
        a {
            img {
                width: auto;
            }
        }
    }
    .cart {
        margin-top: 15px;
        padding-top: 15px;
        a {
            color: #818181;
        }
        .cart-text {
            margin-bottom: 0;
            height: 45px;
            display: table-cell;
            vertical-align: middle;
            font-size: 24px;
            color: $primary-color;
            font-family: myriadPro;
        }
        .cart-img {
            float: left;
            margin-right: 8px;
        }
        .cart-total {
            float: left;
            margin-left: 10px;
            .cart-text {
                font-size: 18px;
            }
        }
        .cart-icon {
            float: left;
            .fa {
                font-size: 15px;
                background-color: #f7941d;
                width: 30px;
                height: 30px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                color: #fff;
                @include border-radius( 6px );
            }
        }
    }
    .navbar-header {
        overflow: auto;
    }
    .search-form {
        form {
            margin-left: 12%;
            margin-bottom: 30px;
        }
    }
    .cart {
        margin-left: 4%;
    }
}

_::-webkit-:not(:root:root),
.header {
    .cart {
        width: 135px;
    }
}

.navigation-section {
    // position: relative;
    // height: 45px;
    // z-index: 5;
    .navbar-collapse {
        .menu-menu-main-container {
            ul {
                li {
                    position: relative;
                    border-right: 1px solid $color_white;
                    z-index: 5;
                    &:first-child {
                        border-left: 1px solid $color_white;
                    }
                    ul {
                        display: none;
                        padding: 0;
                        width: 100%;
                        position: absolute;
                        background-color: $color_green;
                        li {
                            border-right: 1px solid $color_green;
                        }
                    }
                }
            }
        }
    }
}

.navbar-toggle {
    border: 1px solid #fff !important;
    margin-top: 7px;
    margin-bottom: 4px;
}

.feature_news {
    padding-top: 10px;
    .feature {
        background-color: $color_white;
        .product-item {
            .content {
            	padding: 15px;
            	.product-cate-title {
            		a {
            			color: $color_green;
            			font-size: 21px;
            		}
            	}
            	.product-price {
            		margin-top: 5px;
            		font-size: 18px;
            		color: $color_red;
            		.price-main {
            			font-weight: bold;
            		}
            	}
            	.more-info {
            		color: #898989;
            		font-size: 15px;
            		margin-top: 5px;

            	}
                .content_price_title {
                    text-align: center;
                }
            }
            .product-cate-img {
                a {
                    img {
                        background-position: center !important;
                        background-size: cover !important;
                        background-repeat: no-repeat !important;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    .list_item {
        .item_list {
            border-bottom: 1px solid #ddd;
            padding-bottom: 3px;
            margin-bottom: 13px !important;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            .more-info {
                font-size: 12px;
                .calander {
                    padding-right:0;
                }
            }
            .info {
                .title {
                    a {
                        color: $color_green;
                        font-size: 16px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
