arrow-slick {    
    .slick-list {
        margin-top: 30px;
    }
    .slick-arrow {
        top: 0;
        // @include transform( translateY(-50%) );
        width: 60px;
        position: absolute;
        .fa {
            font-size: 16px;
        }
    }
    .slick-prev {
        right: 90px;
        z-index: 1000;
        &:hover {
            cursor: pointer;
        }
    }
    .slick-next {
        right: -0px;
        z-index: 1000;
        &:hover {
            cursor: pointer;
        }
    }
}
arrow-wrap {
    .arrow-wrap {
        position: absolute;
        right: 15px;
        bottom: 25px;
        .fa {
            background: red;
            padding: 5px 10px;
            color: #fff;
            font-size: 15px;
            margin-left: 5px;
        }
        .fa-angle-left {
            &:focus {
                background: red;
                padding: 5px;
                color: #fff;
            }
        }
        .fa-angle-left {
            &:focus {
                background: red;
                padding: 5px;
                color: #fff;
            }
        }
        .control-c {
            cursor: pointer;
            &:hover {
                .fa {
                    color: black;
                }
            }
        }
    }
}