.page_categories {
	.bg_cate {
		padding: 0 0 30px;
		.list_cate {
			background-color: $color_white;
			padding: 10px 20px;
			margin-bottom: 15px;
			h3 {
				color: $color_yellow;
				font-weight: inherit;
			}
			ul {
				li {
					line-height: 20px;
					padding: 5px;
					a {
						color: $color_green_plus;
						font-size: 16px;
					}
				}
			}
		}
	}
}

.page_sidebar_cat, .page_list_cat {
    padding: 7.5px;
}