.CheckoutPage {
	background-color: $body-color;
	.title-checkout-page {
		margin-left: 0;
		margin-right: 0;
		.content-title {
			height: 50px;
			background-color: $primary-color;
			h3 {
				margin: 15px 0; 
				font-size: 16px;
			    font-family: segoe;
			    color: #fff;
			    text-align: center;
			}
		}
	}
	.content-page {
		margin-left: 0;
		margin-right: 0;
		.form-container {
			background: #fff;
			#customer_details {
				.img-info-checkout {
					margin-top: 30px;
					margin-bottom: 30px;
				}	
				.content-info-checkout {
					font-size: 16px;
					font-family: segoeBold;
					color: #1b5d11;
				}
			}
		}
	}	
	#payment {
		background: #fff;
		.place-order {
			text-align: center;
		}
	}
	.woocommerce-thankyou-order-received {
		font-size: 23px;
	    font-family: segoe;
	    margin-top: 20px;
	    color: #42902d;
	    text-transform: uppercase;
	}
	.button-back-order {
		margin-bottom: 30px;
	}
}