.question-answer {
	.comment {
		list-style: none;
		margin: 23px 0px;
		.comment-content {
			margin-left: 52px;
			p {
				margin: 0;
			}
		}
		.date-comment {
			margin-left: 52px;
			margin-bottom: 13px;
		}
		.comment-author {
			font-size: 19px;
		    color: #000;
		    font-family: segoe;
		    img {
	    	    border-radius: 50%;
		    }
		}
		.says {
			display: none;
		}
	}
	.comment-notes {
		display: none;
		visibility: hidden;
	}
	.qd_comment {
		float: right;
		text-transform: none;
		font-size: 14px;
	}
}
