.page_contact {
    .content_contact {
    	margin-bottom: 60px;
    	overflow: auto;
        width:100%;
    	.contact_info {
    		padding: 30px;
	    	.bg_contact_info {
	    		color: $color_green_plus;
	    		background-color:$color_gray;
	    		padding: 20px 40px;
	    		font-weight: bold;
	    	}
    	}
        .map {
        	padding: 30px;
        }
    }
    .contact_desc {
    	background-color: $color_white;
        h3 {
            background: $color_green_plus;
            text-align: center;
            color:$color_white;
            font-size: 16px;
            padding: 15px 5px;
        }
        form {
        	padding: 25px;
        	margin-top: 5px;
        	font-weight: inherit;
        	input {
        		width:100%;
        		padding: 7px;
        		border-radius: 5px;
        		border: 1px solid gray;
        		font-weight: inherit;
        		&[type='submit'] {
        			width:auto;
        			background-color: $color_green_plus;
        			color: $color_white;
        			border: none;
        			text-transform: uppercase;
        			border-radius:0;
        			padding: 10px 30px;
        		}
        	}
        	label {
        		width:100%;
        		color: $color_green_plus;
        		font-weight: inherit;
        	}
        	textarea {
        		width:100%;
        		border-radius: 5px;
        		border: 1px solid gray;
        		height: 120px;
        	}
        }
    }
}
