.msc-form {
	position: relative;
	margin-top: 15px;
	margin-right: 25px;
	float: left;

	input[type="text"] {
		@include text-input-search;
		border: 1px solid #cdcdcd;
		height: 35px;
		padding: 6px 10px;
		font: normal 12px/1.4em Arial,sans-serif !important;
		color: #111 !important;
		&:focus {
			outline: none;
			border: 1px solid #febd69;
		}
	}

	#searchsubmit {
		background-color: #febd69 !important;
		height: 33px !important;
		top:1px !important;
		right:1px !important;
		i {
			color: #555;
			font-size: 16px !important;
		}
		@include form-submit-btn-search;

		@include transition(all 0.3s);

	    &:hover {
	    	background-color: $border-color;

	    	@include transition(all 0.3s);
	    }
	    .fa-search {
	    	font-size: 23px;
	    }
	}
}

.mc4wp-form {
	display: inline-block;
	position: relative;

	input[type="email"] {
		@include text-input-search;
		color: #333;
	}

	input[type="submit"] {
		@include form-submit-btn-search;

		@include transition(all 0.3s);				   

	    &:hover {
	    	background-color: #10ae4b;

	    	@include transition(all 0.3s);
	    }
	}
}