.homepage {
    .col_home_news,
    .col_feature_product {
        padding: 7.5px;
    }
    .product-item {
        .more-info {
            .sub-more-right {
                .mess_report {
                    float: right;
                }
            }
        }
    }
}

.homepage-product-list {
    .product-cate-box {
        margin-bottom: 33px;

        .product-cate-list {
            .product-column {
                padding: 7.5px;

                .product-item {
                    text-align: center;
                    border: 1px solid #fff;
                    background: #fff;
                    font-family: segoe;

                    .product-cate-title {
                        margin-top: 15px;
                        max-height: 60px;
                        overflow: hidden;
                        height: 60px;
                        a {
                            color: $primary-color;
                            font-size: 21px;
                            font-family: segoe;
                        }
                    }

                    .product-contact {
                        color: #f47f1d;
                        text-transform: uppercase;
                        font-weight: bold;
                        display: block;
                        margin: 12px 0;
                    }
                    .product-price {
                        .title-price {
                            color: #ed1c24;
                            font-family: segoe;
                            font-size: 18px;
                        }
                        .price-main {
                            font-family: segoeBold;
                            font-size: 18px;
                            color: #ed1c24;
                        }
                    }
                    .more-info {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        font-size: 15px;
                        color: #898989;
                        width: 100%;

                        .sub-more-left {
                            text-align: left;
                            padding-left: 30px;
                        }
                        .sub-more-right {
                            text-align: right;
                            padding-right: 30px;
                        }
                    }
                }
            }
        }
    }

    .product-cate-heading-icon {
        background-image: url(../../assets/img/category_heading_icon.png);
        width: 26px;
        height: 26px;
        display: inline-block;
        margin: 7px 10px 0 0;
        float: left;
    }

    .product-cate-heading {
        background-color: #2EC066;
        height: 40px;
        line-height: 40px;
        padding: 0 15px 0 0;

        h3 {
            margin: 0;
            float: left;
            font-size: 0.9286rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 40px;
            color: #fff;
            background-color: #1d984c;
            padding: 0 20px;
            position: relative;
            white-space: nowrap;

            &:after {
                content: "";
                background-image: url(../../assets/img/cate_title_gb.png);
                width: 24px;
                position: absolute;
                bottom: 0px;
                height: 40px;
                right: -23px;
                background-repeat: no-repeat;
            }
        }

        p {
            float: right;
            text-transform: uppercase;
            margin-bottom: 0;

            a {
                color: #fff;
                font-size: 0.9286rem;
                text-decoration: none;

                .couple-arrows {
                    background-image: url(../../assets/img/couple_arrows.png);
                    background-repeat: no-repeat;
                    width: 15px;
                    height: 17px;
                    display: inline-block;
                    margin-left: 10px;
                    vertical-align: middle;
                }
            }
        }

        &.product-cate-heading__no-bg-color {
            background-color: transparent;
        }
    }

    .product-item-hidden {
        position: absolute;
        background: linear-gradient(#ffffff, #91ff96);
        z-index: 10;
        padding: 15px;
        box-shadow: 0 0 5px 3px #ccc;
        display: none;
        top: 0;
        right: 0;
        width: 100%;

        h3 {
            color: #008f45;
            font-size: 1.1429rem;
            font-weight: bold;
            margin: 0 0 18px 0;
        }

        .popup-meta {
            text-align: right;
            font-size: 0.9571rem;
        }

        .product-list-parameter {
            font-size: 0.7807rem;
        }

        .product-parameters label {
            color: red;
            font-size: 0.7807rem;
        }
    }
}

.more_post {
    margin: 30px 0;
    overflow: auto;
    .button_load_more {
        text-align: center;
        button {
            padding: 10px 100px;
            text-transform: uppercase;
            color: $color_green;
        }
    }
}

.hot_product {
    .product-column {
        .product-item {
            background: #fff;

            .slick-track {
                width: 100% !important;
            }

            .sub-more-left {
                width: 50% !important;
            }

            .sub-more-right {
                width: 50% !important;
            }
        }
    }
}

.quangcao {
    .images {
        padding-left: 21px;
        padding-right: 6px;

        img {
            background-size: cover !important;
            height: 256px;
            width: 100%;
            background-position: 50% !important;
        }
    }

    .form_dangky {
        padding-right: 21px;
        padding-left: 5px;

        .contact {
            background: #00a03c;
            padding-bottom: 20px;
            padding-top: 10px;
            margin-bottom: 25px;

            form {
                position: relative;

                .title_form {
                    text-align: center;
                    color: #fff;
                    font-size: 20px;
                    margin-bottom: 0px;
                    text-transform: uppercase;
                }

                .mota {
                    text-align: center;
                    color: #fff;
                }

                .name {
                    width: 47%;
                    display: inline-block;
                    margin-left: 15px;
                    padding-right: 3px;

                    input {
                        width: 100%;
                    }
                }

                .number {
                    width: 47%;
                    display: inline-block;
                    padding-left: 3px;

                    input {
                        width: 100%;
                    }
                }

                .content_mail {
                    height: 80px;
                    width: 94.6%;
                    margin-left: 15px;

                    textarea {
                        width: 100%;
                        height: 100%;
                    }
                }

                .chu_y {
                    display: inline-block;
                    font-size: 12px;
                    margin-left: 17px;
                    margin-top: 15px;

                    span {
                        color: #fff;
                    }
                }

                .form_submit {
                    display: inline-block;

                    input {
                        border: none;
                        background: #fea200;
                        color: #fff;
                        padding: 5px 12px 5px 12px;
                        position: absolute;
                        right: 13px;
                    }
                }
            }
        }
    }
}

.hot_product {
    .list_item_noi_bat {
        max-width: 1057px;
        background: #fff;
        margin-bottom: 10px;
    }

    .title_hot {
        color: #42902d;
        font-size: 21px;
        font-family: segoe;
    }

    .product-item {
        margin-bottom: 15px;

        .product-cate-title {
            min-height: 75px;
            text-align: center !important;

            a {
                color: #42902d;
                font-size: 17px;
                font-family: segoe;
            }
        }

        .product-price {
            text-align: center;
            margin-bottom: 10px;

            .title-price {
                color: #ed1c24;
                font-family: segoe;
                font-size: 16px;
            }

            .price-main {
                font-family: segoeBold;
                font-size: 16px;
                color: #ed1c24;
            }
        }

        .more-info {
            padding-bottom: 10px;

            .sub-more-left {
                text-align: center;
            }

            .sub-more-right {
                text-align: center;
            }
        }
    }
}

.homepage {
    .video-section-homepage {
        position: relative;
        @extend arrow-wrap;
        .slick_video {
            @extend arrow-slick;
        }
    }
}

@media screen and (max-width:663px) {
    .homepage {
        .video-section-homepage {
            .link_channel {
                margin-top: 20px;
            }
        }
    }
}

@media(max-width:768px) {

    .quangcao {
        .images {
            margin-bottom: 25px;
        }

        .form_dangky {
            .contact {
                form {
                    .form_submit {
                        input {
                            right: 26px;
                        }
                    }
                }
            }
        }
    }
}


.tag_hot {
    .title_name {
        color: #096d2e;
        font-size: 17px;
        font-family: segoeBold !important;
    }

    .list_tag {
        display: inline-block;
        list-style: none;
        margin-bottom: 0px;
        padding-left: 0px;

        li {
            float: left;
            font-size: 17px;
            font-family: segoe;
            padding-left: 30px;
            padding-right: 30px;
            border-right: 1px solid #42902d;

            a {
                color: #cf1212;
            }
        }

        li:first-child {
            border-right: none;
            padding-left: 0px;
            padding-right: 0px;
        }

        li:last-child {
            border-right: none;
        }
    }
}

span.wpcf7-not-valid-tip {
    color: #c50303 !important;
}

@media(max-width:425px) {
    .form_dangky {
        .contact {
            padding-right: 10px;
        }
    }
}

.hot_product {
    .slick_product {
        position: relative;

        .slick-prev {
            color: transparent;
            background: none;
            border: none;
            width: 30px;
            position: absolute;
            left: -30px;
            top: 150px;
            font-size: 20px;
        }

        .slick-prev:focus {
            outline: none;
        }

        .slick-prev:before {
            content: '\F053';
            font-family: FontAwesome;
            color: #00A03C;
        }

        .slick-next {
            color: transparent;
            background: none;
            border: none;
            width: 30px;
            font-size: 20px;
            position: absolute;
            right: 12px;
            top: 150px;
        }

        .slick-next:focus {
            outline: none;
        }

        .slick-next:after {
            content: '\F054';
            font-family: FontAwesome;
            color: #00A03C;
        }
    }
}

.news_mobile {
    display: none;
}

@media(max-width:768px) {
    .homepage {
        .col_feature_product {
            width: 100%;
        }

        .col_home_news {
            display: none;
        }
    }

    .news_mobile {
        display: block;

        .slick-prev {
            background: none;
            color: transparent;
            border: none;
        }

        .slick-next {
            background: none;
            color: transparent;
            border: none;
        }

        .product-item {
            text-align: center;
            border: 1px solid #fff;
            background: #fff;
            font-family: segoe;

            .product-cate-title {
                margin-top: 15px;
                max-height: 75px;
                overflow: hidden;
                height: 75px;

                a {
                    color: #42902d;
                    font-size: 16px;
                    font-family: segoe;
                }
            }

            .row.more-info {
                margin-bottom: 10px;
                font-size: 13px;
                color: #898989;
            }
        }

        .product-column {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .quangcao {
        .form_dangky {
            padding-right: 7.5px;
            padding-left: 7.5px;
        }

        .images {
            padding-right: 7.5px;
            padding-left: 7.5px;
        }
    }

    .hot_product {
        .product-column {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

@media(max-width:425px) {
    .news_mobile {
        .news_home_mobile {
            .product-column {
                .product-item {
                    .product-cate-img {
                        a {
                            img {
                                max-height: 155px !important;
                                height: 155px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 663px) {
    .hot_product {
        .product-item {
            .product-cate-title {
                min-height: 100px;
                max-height: 100px;
                overflow: hidden;
            }
        }
    }
    .hot_product {
        .product-column {
            .product-item {
                .sub-more-left {
                    width: 100% !important;
                }
            }
        }
    }
}