@media(min-width: 1200px) {
    .container {
        width: auto;
        max-width: 1100px;
    }
    .header {
        form {
            margin-top: 26px;
        }
    }
}

@media(max-width: 1200px) {
    .container {
        width: auto;
        width: 100%;
    }
    .header {
        .logo {
            margin-top: -15px;
        }
        .search-form {
            display: block;
            width: 100%;
            margin: 0;
        }
        .cart {
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
}

@media(max-width: 500px) {
    .search-form {
        form {
            width: 100%;
            input[type=text] {
                width: 100%;
            }
        }
    }
    .button_phone_price {
        form {
            button {}
        }
    }
    .content_contact {
        .contact_info {
            padding: 0 !important;
        }
        .map {
            padding: 0 !important;
        }
    }
    .header {
        .logo {
            text-align: center;
            a {
                img {
                    width: 210px;
                    height: auto;
                }
            }
        }
        .container {
            padding: 0;
        }
        .cart {
            margin-top: 0;
            padding-right: 0;
            margin-right: 0;
            bottom: 0;
            left: -15px;
            margin-bottom: -52px;
            z-index: 33;
            top:inherit;
            width: 80px !important;
        }
    }
    .product_detail {
        .detail_product {
            padding: 10px 0 !important;
        }
    }
    .product_detail .container .row {
        .col_product_detail,
        .col_post_sidebar {
            padding: 5px !important;
        }
    }
    .product_detail {
        .detail .button_phone_price {
            width: 100%;
            margin-top: -1px;
            form {
                button {
                    margin-left: 0;
                }
            }
            a {
                float: right !important;
                display: block;
                button {
                    margin-right: 0;
                    // margin-top: -1px !important;
                }
                .phone_news_bottom {
                    margin-top: -1px;
                }
            }
            .add_cart_contact {
                float: left !important;
                button {
                    margin-left: 0 !important;
                }
            }
        }
        .item_list_description {
            .info {
                .button_phone_price {
                    a {
                        float: right !important;
                        button {
                            margin-right: 0;
                        }
                    }
                    .add_cart_contact {
                        float: left !important;
                    }
                }
            }
        }
    }
    .col_product_detail_1,
    .col_product_detail_2,
    .col_product_detail_3 {
        padding: 10px !important;
    }
}

@media(max-width: 767px) {
    .product_detail {
        .row {
            .col_product_detail {
                padding-right: 15px !important;
            }
            .col_post_sidebar {
                padding-left: 15px !important;
            }
        }
    }
    .feature_news {
        .waper_product_involve {
            .item_list {
                padding: 0;
            }
        }
    }
    form.woocommerce-cart-form {
        table {
            tr {
                td {
                    clear: left;
                    float: left;
                    width: 100%;
                    .quantity {
                        float: right !important;
                    }
                }
            }
        }
    }
    #bs-example-navbar-collapse-1 {
        padding: 0;
        li {
            text-align: left;
            a {
                margin-left: 15px;
            }
        }
    }
    .hidden-xs {
        display: block !important;
        .cart-total {
            .cart-text {
                span {
                    display: none;
                    visibility: hidden;
                }
            }
        }
    }
    .homepage-product-list {
        max-width: 600px;
    }
    .breadcrumb-row {
        margin-top: 15px;
        max-width: 600px;
        margin: auto;
        padding-top: 15px;
    }
    .page_categories {
        .bg_cate {
            .container {
                max-width: 600px;
            }
        }
    }
    .product_detail {
        .container {
            max-width: 600px;
        }
    }
    .homepage {
        .feature_news {
            max-width: 600px;
            margin: auto;
            .wrap_home {
                padding: 0;
            }
        }
        .homepage-product-list {
            padding: 0;
        }
    }
    .navigation-section {
        .top-menu {
            float: none !important;
            .nav-menu {
                display: block !important;
                li {
                    border-top: 1px solid #eeeeee;
                }
            }
        }
    }
    #bs-example-navbar-collapse-1 li {
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }
}
