//menu pc

    .menu-header {
        position: relative;
        background: $color_green;
        .main-menu {
            > div {
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        position: relative;
                        background: $color_green;
                        a {
                            color: #fff;
                            display: block;
                            font-size: 15px;
                            padding: 10px 20px;
                            position: relative;
                            text-transform: uppercase;
                            white-space: nowrap;
                            font-weight: 500;
                        }
                        &:hover {
                            > .sub-menu {
                                @include transform(scale(1, 1));
                            }
                            > a {
                                background: $color_yellow !important;
                            }
                        }
                    }
                    .current-menu-item > a {
                        // color: #27ae60;
                        // background: #1D984C;
                        background: $color_yellow;
                    }
                }
                > ul {
                    display: flex;
                    display: -webkit-flex;
                    @include align-items(center);
                    @include justify-content(space-between);
                    border-right: 1px solid #fff;
                    border-left: 1px solid #fff;
                    > li {
                        width: 100%;
                        text-align: center;
                        border-right: 1px solid #fff;
                        &:last-child {
                            border: none;
                        }
                        &:nth-child(4), &:nth-child(5) {
                            .sub-menu {
                                left: auto;
                                right: -1px;
                                li {
                                    float: right;
                                }
                            }
                        }
                        .sub-menu {
                            left: -1px;
                            position: absolute;
                            top: 100%;
                            z-index: 2222;
                            min-width: 330%;
                            @include transform(scale(1, 0));
                            @include transform-origin(0 0 0);
                            @include transition(all 400ms ease 0s);
                            .sub-menu {
                                border-left: 1px solid transparent;
                                left: 100%;
                                top: -1px;
                            }
                            li {
                                float: left;
                                width: 33.3%;
                                border-left: 1px solid #fff;
                                border-top: 1px solid #fff;
                                a {
                                    // background: #333;
                                    font-size: 14px;
                                    text-transform: unset;
                                }
                                &:hover > a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


//menu mobile

    .menu-header {
        .mean-container {
            .mean-bar {
                background: none;
                left: 0;
                padding: 0;
                position: absolute;
                top: 2px;
                z-index: 9;
                .meanmenu-reveal {
                    background: #333;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    right: 15px !important;
                    left: 0;
                    top: 0;
                    height: 20px;
                    line-height: 20px;
                    width: 28px;
                    padding: 10px 11px 10px;
                }
                .mean-nav {
                    background: #333;
                    margin-top: 43px;
                    .sub-menu {
                        // max-height: 170px;
                        // overflow: auto;
                    }
                    ul {
                        li {
                            a {
                                padding-bottom: 11px;
                                padding-top: 11px;
                            }
                            .sub-menu {
                                li {
                                    a {
                                        text-transform: none;
                                    }
                                }
                            }
                            .mean-expand {
                                height: 19px;
                                right: 15px;
                                line-height: 19px;
                                border-right: 1px solid rgba(255,255,255,.4)!important;
                                &:hover {
                                    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


.search-form-mobile {
    display: none;
}

// .navigation-section {
//     background-color: $primary-color;
//     height: 45px;
//     .top-menu {
//         background: inherit;
//         border: 0;
//         box-shadow: 0 0 0;
//         background-color: transparent;
//         z-index: 1;
//         margin: 0;
//         float: left;
//         width: 100%;
//         .nav-menu {
//             padding: 0;
//             background-color: $primary-color;
//             display: flex;
//             width: 100%;
//             line-height: 45px;
//             text-transform: uppercase;
//             font-weight: bold;
//             margin-bottom: 20px;
//             @include border-radius(3px);
//             .menu-item {
//                 list-style: none;
//                 width: 100%;
//                 text-align: center;
//                 position: relative;
//                 a {
//                     color: #fff;
//                     text-decoration: none;
//                     font-size: 15px;
//                     font-weight: normal;
//                     img {
//                         height: 20px;
//                         margin-top:-5px;
//                     }
//                 }
//                 &:hover {
//                     background-color: #1D984C;
//                 }
//                 &:after {
//                     width: 1px;
//                     height: 42px;
//                     background-color: #fff;
//                     display: inline-block;
//                     content: "";
//                     position: absolute;
//                     top: 0;
//                     right: 0;
//                 }
//                 &:first-child:before {
//                     width: 1px;
//                     height: 42px;
//                     background-color: #fff;
//                     display: inline-block;
//                     content: "";
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                 }
//                 .sub-menu {
//                     li.menu-item {
//                         text-align: left;
//                         padding-left: 15px;
//                         a {
//                             font-size: 13px;
//                         }
//                     }
//                 }
//             }
//             .menu-item:nth-child(2) {
//                 img {
//                 	// width: 20px;
//                 }
//             }
//             .current-menu-item {
//                 background-color: #1D984C;
//                 @include border-radius(3px 0 0 3px);
//             }
//         }
//         .navbar-toggle {
//             border: 0;
//             background-color: transparent;
//             &:focus {
//                 background-color: transparent;
//             }
//         }
//     }
// }

@media screen and (max-width: 1024px) {
    .menu-header {
        height: 45px;
    }
    .header .search-form {
        display: none;
    }
    .search-form-mobile {
        display: flex;
        display: -webkit-flex;
        padding: 0 15px;
        background: #E9FBE7;
        width: 100%;
    }
    //
    .line-top {
        display: none;
    }
    .header {
        padding: 0;
        .logo {
            position: absolute;
            z-index: 11;
            height: 100%;
            left: 0;
            top: 50%;
            height: auto;
            width: 175px;
            margin: 0;
            @include transform(translateY(-50%));
            a img {
                width: 100% !important;
                height: auto;
            }
        }
        .cart {
            position: absolute;
            top: 50%;
            z-index: 10;
            margin: 0;
            padding: 0;
            width: auto !important;
            height: 30px;
            @include transform(translateY(-50%));
            left: auto;
            right: 75px;
            > a {
                display: flex;
                display: -webkit-flex;
                @include align-items(center);
                @include justify-content(center);
            }
            .cart-text {
                height: auto;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    // .navbar-header {}
    // .navbar-collapse {
    //     border: 0;
    // }
}

