.page_news{
	padding-bottom: 30px;
}
.the_title {
	margin-top: 30px;
	width:100%;
	.tabline {
		background-repeat: no-repeat;
		background-position: center;
		.text-show {
			text-align: center;
			padding: 10px;
			font-size: 20px;
			color: $color_white;
			text-transform: uppercase;
		}
	}
}
