.navigation-section .top-menu .nav-menu .menu-item:after,
.navigation-section .top-menu .nav-menu .menu-item:first-child:before {
    background-color: $color_green !important;
}

.woocommerce-message {
    clear: left;
}

-webkit-:not(:root:root) .cart,
.header .cart {
    width: auto;
}

.woocommerce-cart-form table tbody tr td.product-remove a {
    border-radius: 0;
}

.woocommerce-cart-form table tbody tr td.product-quantity .quantity {
    background: $color_yellow;
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: right;
    padding-top: -1px;
    input[type=number] {
        min-width: 100px;
    }
    .plus {
        border: 2px solid $color_yellow;
        position: absolute;
        padding-top: -1px;
        right: 0;
        border-radius: 0;
        width: 28px;
        height: 30px;
    }
    .minus {
        @extend .plus;
        left: 0;
    }
}

.woocommerce-cart-form .cart-collaterals .wc-proceed-to-checkout {
    margin-bottom: 30px;
}

.button_phone_price {
    form .button_add_icon {
        width: 160px;
    }
    .phone_button {
        width: 160px;
    }
}
