.contain_pagination {
    width:100%;
    float: right;
    .paginate {
        margin-top: 10px;
        .page-numbers {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: $primary-color;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #42902d;
        }
        .prev {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        .next {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
        .current {
            background: $primary-color;
            color: #fff;
        }
    }
}
