.product_involve {
    h1 {
        background-color: $color_green;
        color: $color_white;
        font-size: 17px;
        text-align: center;
        padding: 10px;
        font-weight: 500;
        margin-top: 0;
        font-weight: normal;
    }
}

.waper_product_involve {
    .item_list {
        padding: 0 10px;
        .info {
            h1.title {
                a {
                    color: $color_green;
                }
                font-size: 16px;
                font-weight: normal;
            }
            p {
                font-size: 15.53px;
                color: $color_red;
                font-weight: normal;
            }
        }
        .bg_img {
            margin-bottom: 10px;
        }
    }
    .list_item {
        padding-top: 5px;
        padding-bottom: 5px;
        overflow: auto;
        .item_list {
            margin-bottom: 5px;
            overflow: auto;
            .info {
                h1 {
                    margin-top: 0;
                }
            }
        }
    }
}

#product_involve-2 {
    width: 100%;
    float: left;
}
