#product_same_topic-2 {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.waper_product_same_topic {
    margin-bottom: 15px;
	.item_list {
		padding-left:10px;
	}
    .list_item {
        padding-top: 5px;
        padding-bottom: 5px;
        overflow: auto;
    }
}
