.button_phone_price {
    .button_add_icon {
        padding: 9px 15px;
        color: white;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        clear: left;
        margin: 10px 10px 10px 0;
        text-transform: uppercase;
        background-size: inherit;
        background-position: center;
        background-color: transparent;
        border: none;
    }
    .contact_button_detail {
        padding: 9px 46px;
    }
    .phone_button {
        background: $color_green !important;
        padding: 9px;
    }
    form {
        .button_add_icon {
            float: left;
        }
    }
}

.product_detail {
    padding-bottom: 15px;
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .wraper_content {
        padding: 0 15px !important;
    }
    .bottom_detail_info {
        padding: 10px;
    }
    .col_product_detail {
        padding-right: 7.5px !important;
    }
    .col_post_sidebar {
        padding-left: 7.5px;
    }
    .detail_product {
        overflow: hidden;
        width: 100%;
        margin-bottom: 15px;
        padding: 20px 30px 30px 30px;
        img {
            max-width: 100%;
            height:auto;
        }
        .description_product {
            font-size: 16px;
            max-height: 1000px;
            overflow: hidden;
            position: relative;
        }
        .item_list_description {
            overflow: auto;
            margin-bottom: 10px;
            .info {
                h1 {
                    margin-top: 0;
                    font-size: 24px;
                    color: $color_green;
                }
                .price {
                    font-size: 24px;
                    color: $color_green;
                    strong {
                        color: $color_red;
                    }
                }
                .description_thaoduoc {
                    font-size: 16px;
                }
                .button_phone_price {
                    form {
                        .quantity {
                            display: none;
                        }
                        .col-md-6 {
                            display: none;
                        }
                    }
                }
            }
        }
        .comment_contact_news {
            padding: 10px;
            .phone_news_bottom {
                margin-left:0;
            }
        }
    }
    .sidebar {
        overflow: auto;
        margin-bottom: 30px;
    }
    .footer-section {
        clear: left;
    }
    .address_link {
        padding: 20px;
        font-size: 16.3px;
        color: #f7941d;
        a {
            color: #f7941d;
        }
    }
    .share_add_cart {
        h3 {
            font-size: 18px;
            background-color: $color_green;
            color: $color_white;
            padding: 7px;
            font-weight: inherit;
            white-space: nowrap;
            font-family: Tahoma, Geneva, sans-serif;
        }
    }
    .detail {
        .social_button {
            float: left;
            .sharethis-inline-share-buttons {
                margin-bottom: 10px;
                .st-btn {
                    display: inline-block !important;
                }
            }
            .social-share-facebook {
                background: #fff url('../../assets/images/bg-share-face-text.png') no-repeat scroll 5px center;
                padding: 5px 5px 5px 160px;
                border: 1.5px solid #efefef;
                margin-bottom: 10px;
                text-align: right;
            }
            // .social-share-facebook {
            //     .inlineBlock > a > div > button {
            //         background: red;
            //         color: transparent;
            //         border: none;
            //     }
            // }
            .a2a_svg {
                border-radius: 0 !important;
            }
            a:first-child {
                padding-left: 0 !important;
            }
        }
        .button_phone_price {
            float: left;
            form {
                float: left !important;
                .quantity {
                    display: none;
                }
            }
            button {
                margin-top: 0;
                margin-right: 0;
                margin-left: 10px;
            }
        }
    }
    .tag_involve {
        background-color: $color_yellow_;
        padding: 15px;
        font-size: 17px;
        color: $color_black;
        a {
            font-size: 15px;
            color: black;
        }
    }
}

.button_add_cart {
    background: none;
    border: none;
}

.question-answer {
    .dwqa-search {
        display: none;
    }
    select[name='question-category'] ~ label {
        display: none;
    }
    input[name='question-tag'] {
        display: none;
    }
    #question-category {
        display: none;
    }
    label[for="question-category"],
    label[for="question-tag"] {
        display: none;
    }
    .comment-respond {
        h3 {
            font-size: 18px;
            color: $color_yellow;
            text-transform: uppercase;
            font-weight: inherit;
        }
    }
    textarea {
        border: 1px solid #555;
        height: 100px;
    }
    form {
        input {
            border: 1px solid #555;
        }
        .form-submit {
            input {
                background: #ed1c24;
                border: transparent;
                color: #ffffff;
            }
        }
    }
}

.content_more {
    height: 200px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+2,ffffff+43,ffffff+57,ffffff+65,ffffff+82&0+0,1+70 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.03) 2%, rgba(255,255,255,0.61) 43%, rgba(255,255,255,0.81) 57%, rgba(255,255,255,0.93) 65%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 82%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 2%,rgba(255,255,255,0.61) 43%,rgba(255,255,255,0.81) 57%,rgba(255,255,255,0.93) 65%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 82%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 2%,rgba(255,255,255,0.61) 43%,rgba(255,255,255,0.81) 57%,rgba(255,255,255,0.93) 65%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    span {
        position: absolute;
        bottom: 20px;
        margin-left: 15px;
        cursor: pointer;
        color: $color_green;
    }
}

.button_phone_price{
    form{
        .button_add_icon{
            width: 100%;
            margin-bottom: 0px;
        }

        .buttom_muangay{
            padding-bottom: 0px;
            padding-top: 0px;

            .text_mota{
                font-size: 10px;
            }

            .add{
                margin-bottom: -5px;
            }
        }
    }

    .phone_button{
        width: 100%;
        margin-top: 5px;
    }
}

.button_phone_price.pull-right{
    .button_add_cart{
        margin-bottom: 10px;
    }

    button{
        margin-left: 0px !important;
    }

    .buttom_muangay{
        .add{
            margin-bottom: -5px;
        }
    }
}

.call_now{
    margin-top: 78px;

    .call{
        padding: 8px;
        border: 1.5px solid #efefef;

        a{
            font-size: 14px;
            color: #000;
            font-weight: bold;

            .call_phone{
                color: #5364b4;
            }
        }
    }

    .text_mota{
        margin-top: 15px;
        text-align: center;
        font-size: 14px;

        i{
            color: #49af49;
            margin-right: 5px;
        }
    }
}

.social_button{
    .call_now{
        margin-top: 0px;
    }
}

.product_lienquan{
    padding: 0px;

    .title_danhmuc{
        color: #349768;
        font-weight: 600;
        font-size: 17px;
        border-top: 1px solid #efefef;
        margin-top: 30px;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .product-item{
        margin-bottom: 20px;

        .product-cate-title{
            font-family: segoe;
            min-height: 90px;

            a{
                color: #42902d;
                font-size: 15px;
            }
        }

        .product-price{
            text-align: center;

            .title-price{
                color: #ed1c24;
                font-family: segoe;
                font-size: 14px;
            }

            .price-main{
                font-family: segoeBold;
                font-size: 14px;
                color: #ed1c24;
            }
        }

        .more-info{
            text-align: center;

            .sub-more-left{
                width: 100% !important;
                font-size: 14px;
            }

            .sub-more-right{
                width:100% !important;
                color: #898989;
            }
        }
    }

    .slick_product_detail{
        .slick-prev{
            display: inline-block;
            color: transparent;
            background: none;
            border: none;
            width: 30px;
            position: absolute;
            left: -30px;
            top: 140px;
            font-size: 20px;
        }

        .slick-prev:focus{
            outline:none;
        }

        .slick-prev:before{
            content: '\F053';
            font-family: FontAwesome;
            color: #00A03C;
        }

        .slick-next{
            color: transparent;
            background: none;
            border: none;
            width: 30px;
            font-size: 20px;
            position: absolute;
            right: 12px;
            top: 140px;
        }

        .slick-next:focus{
            outline:none;
        }

        .slick-next:after{
            content: '\F054';
            font-family: FontAwesome;
            color: #00A03C;
        }
    }
}

.tintuc_lienquan{
    padding: 0px;

    .title_danhmuc{
        color: #349768;
        font-weight: 600;
        font-size: 17px;
        border-top: 1px solid #efefef;
        margin-top: 30px;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .product-item{
        .product-cate-title{
            font-family: segoe;
            min-height: 90px;

            a{
                color: #42902d;
                font-size: 15px;
            }
        }

        .more-info{
            text-align: center;

            .sub-more-left{
                width: 100% !important;
                font-size: 14px;
            }

            .sub-more-right{
                width:100% !important;
                color: #898989;
            }
        }
    }

    .slick_news_detail{
        .slick-prev{
            display: inline-block;
            color: transparent;
            background: none;
            border: none;
            width: 30px;
            position: absolute;
            left: -30px;
            top: 140px;
            font-size: 20px;
        }

        .slick-prev:focus{
            outline:none;
        }

        .slick-prev:before{
            content: '\F053';
            font-family: FontAwesome;
            color: #00A03C;
        }

        .slick-next{
            display: inline-block;
            color: transparent;
            background: none;
            border: none;
            width: 30px;
            font-size: 20px;
            position: absolute;
            right: 12px;
            top: 140px;
        }

        .slick-next:focus{
            outline:none;
        }

        .slick-next:after{
            content: '\F054';
            font-family: FontAwesome;
            color: #00A03C;
        }
    }
}

.text_moi{
    background: #fbfab8;
    padding: 9px 0px 6px 30px;
}

.button_phone_price{
    .contact_button_detail{
        width: 100%;
    }
}

@media(max-width: 768px){
    .call_now{
        margin-bottom: 10px;

        .call{
            text-align: center;
        }
    }

    .product_detail{
        .detail{
            .social_button{
                width: 100%;

                .widget_a2a_share_save_widget{
                    text-align: center;
                }
            }
        }
    }
}

.sidebar{
    .list_item{
        .item_list{
            .product-price{
                .title-price{
                    color: #ed1c24;
                    font-family: segoe;
                    font-size: 16px;
                }

                .price-main{
                    font-family: segoeBold;
                    font-size: 16px;
                    color: #ed1c24;
                }
            }
        }
    }
}

@media(max-width:768px){
    .product_detail{
        .detail{
            .button_phone_price{
                float: none !important;

                form{
                    float: none !important;
                }
            }
        }
    }

    .text_moi{
        font-size: 11px;
        margin-top: 0px;
    }

    .col_post_sidebar{
        display: none;
    }

    .col_product_detail{
        width: 100%;
    }
}

@media(max-width:425px){
    .detail_product{    
        .product-item{
            .more-info{
                .sub-more-left{
                    width: 50% !important;
                }

                .sub-more-right{
                    width: 50% !important;
                }
            }
        }
    }
}

.product_involve{
    h1{
        text-transform: uppercase;
    }
}

@media(max-width: 767px){
    .question-answer{
        margin-top: 15px;

        .pad-l-0{
            width: 50%;
        }
    }
}

@media(max-width:425px){
    .text_moi{
        padding: 9px 0px 6px 15px;
    }
}

.bottom_detail_info{
    .button_phone_price.pull-right .button_add_cart{
        margin-top:0px;
    }
}

.wpcf7-form-control-wrap{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
}

.tag_involve{
    div{
        margin-bottom: 10px;
    }

    span{
        border: 1px solid;
        padding: 4px;
        border-radius: 9px;
        display: inline-block;
        margin-bottom: 5px;

        a{
            border: unset;
            padding: 0px;
            border-radius: 0px;
        }
    }

    a{
        border: 1px solid;
        padding: 4px;
        border-radius: 9px;
        display: inline-block;
        margin-bottom: 5px;
    }
}

@media(max-width: 768px){
    .item_list_description{
        .call_now{
            display: none;
        }
    }
}

.tag_involve{
    span{
        a{
            margin-bottom: 0px;
        }
    }
}

.tag_involve{
    span{
        border: 1px solid #b4b1b1 !important;

        a{
            border: unset !important;
        }
    }
}

.tag_involve{
    a{
        border: 1px solid #b4b1b1 !important;
    }
}