#scroll_top_js {
	width:100%;
	text-align:center;
	position: absolute;
}
.wrap_icon_phone {
	position: fixed;
	right:30px;
	bottom:50px;
    z-index: 99;
    .icon_phone {
    	font-size: 45px;
    	background-color: $color_yellow;
    	padding: 11px 17px;
    	border-radius: 45px;
    	color: $color_white;
    	// border:8px solid rgba(247,148,29,0.5);
    }
}
.button_scroll_top {
    width:100%;
    text-align: center;
    position:relative;
    i {
        background-color: $color_green;
        border-radius: 45px;
        padding: 20px;
        position:absolute;
        bottom:0;
        color: $color_white;
        font-size: 30px;
        padding-top:0;
        margin-bottom: -30px;
        cursor: pointer;
        span {
        }
    }
}
#button_scroll_top {
    display: inline-table !important;
    opacity: 1 !important;
    margin-left: -35px;
    left: 50%;
}
.active_phone {
    box-shadow: 0 0 50px $color_yellow;
}